@import "../../../globalStyles.scss";

.LandingContainer {
  .custom-title {
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }
  .CategoryLandingContainer__hero {
    height: 100%;
    .item.active .img {
      z-index: 3;
      opacity: 0;
    }
    .item.active {
      z-index: 3;
      background-color: $white;
      cursor: pointer;
      overflow: hidden;
      height: auto;
    }
    .item.active.isSelected {
      background-color: inherit;
      pointer-events: none;
      border: none;
    }
    .item .back-title {
      display: block;
      position: relative;
      text-align: center;
      font-style: italic;
      opacity: 0;
      padding: 50px;
      margin-bottom: 0;
      font-size: 1.5em;
    }
    .item.active .back-title {
      opacity: 1;
    }
    .item.active:hover .front-title {
      display: none;
    }
    .item .front-title {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      margin: 0;
      text-align: center;
      color: $white;
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0);
      background: rgba(51, 51, 51, 0.231);
      width: 100%;
      height: 100%;
      z-index: 3;
      opacity: 1;
      letter-spacing: $letterSpacing;
    }
    .item.active.isSelected {
      height: 100%;
      width: 50%;
      opacity: 0;
      animation: fadeIn 0.5s;
      animation-fill-mode: forwards;
      animation-delay: 0.2s;
      position: absolute;
      .front-title {
        opacity: 1;
        font-size: $herofontSize;
        letter-spacing: $letterSpacing;
        pointer-events: none;
        &:hover {
          pointer-events: none;
        }
      }
      .back-title {
        opacity: 0;
      }
    }
    .categories {
      position: relative;
      flex: 1 1 30%;
      height: auto;
      align-self: stretch;
      justify-self: center;
      display: flex;
      justify-content: center;
      align-items: center;
      float: left;
      background-size: cover;
      background-position: top;
      overflow: hidden;
      visibility: visible;
      opacity: 1;
      border: 2.5px solid $white;
      // transition: all 1s ease 0s;
      .img {
        background-size: cover;
        background-position: center;
        position: absolute;
        height: 100%;
        width: 100%;
      }

      .custom-border {
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: 4;
        border: 2.5px solid $white;
      }
      .custom-check {
        position: absolute;
        bottom: 0;
        right: 0;
        margin: 15px;
        padding: 5px;
        width: 30px;
        height: 30px;
        border-radius: 100%;
        background-color: $white;
        z-index: 3;
        display: flex;
        justify-content: center;
        align-items: center;
        svg {
          color: $primary;
        }
      }
    }
    .hide {
      pointer-events: none;
      &:hover {
        pointer-events: none;
      }
    }
    .hide {
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
    }
    .CategoryLandingContainer__container {
      height: 100%;
      position: relative;
      overflow: hidden;
      .CategoryLandingContainer__container-items {
        height: 100%;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        z-index: 1;
      }
      .CategoryLandingContainer__container-items.hasSelection {
        display: block;
      }
      .overlay-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        opacity: 0;
        visibility: hidden;
        z-index: 2;
        pointer-events: none;
        .img {
          width: 100%;
          height: 100%;
          background-size: cover;
          filter: brightness(0.6);
        }
      }
      .overlay-image.active {
        visibility: visible;
        -webkit-transition-delay: 0s;
        transition-delay: 0s;
        opacity: 1;
        transform: scale(1);
        // transition: visibility 1s, opacity 1s, background 0.5s ease,
        // transform 1s ease, -webkit-transform 1s ease;
      }
    }
  }
  .custom-continue {
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}

.HomePageWrapper {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  .HomePageWrapper__left,
  .HomePageWrapper__right {
    flex: 1 1;
  }
  .HomePageWrapper__left {
    position: relative;
    box-shadow: -8px -3px 22px rgba(51, 51, 51, 0.614);
    max-width: 50%;
    .HomePageWrapper__left-content {
      display: flex;
      height: 100%;
    }
  }
  .HomePageWrapper__right {
    .HomePageWrapper__right-content {
      height: 100%;
      padding: 15px;
    }
  }
  #tsparticles {
    position: absolute;
    height: 100%;
    opacity: 0.5;
    // z-index: 10;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    width: 50%;
    height: 100%;
  }
  100% {
    opacity: 1;
    width: 50%;
    height: 100%;
  }
}
