@import "../../globalStyles.scss";

.LandingContainer {
  position: relative;
  height: 100%;
  background-color: $white;
}
.LandingContainer__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .Navigation {
    grid-column: 1;
    grid-row: 1 / end;
    .Navigation__logo {
      color: $white;
      font-family: $roboto;
    }
    .Navigation__text a {
      font-size: 1em;
      color: $white;
      font-family: $roboto !important;
      letter-spacing: 2px;
    }
    .menu {
      cursor: pointer;
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      .item {
        position: relative;
        flex: 1 1 30%;
        height: auto;
        align-self: stretch;
        justify-self: center;
        overflow: hidden;
        display: flex;
        border: 0.5px solid $white;
        background-color: $secondary;
        p {
          position: absolute;
          font-family: $roboto;
        }
      }
      .item.active {
        background-color: $third;
        z-index: 10;
        transform: scale(1);
        transition: all 0.2s ease 0s;
        box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.6);
      }
      .item.active.hover {
        z-index: 10;
        transform: scale(1);
      }
    }
  }
  .BottomNavigation {
    width: 95%;
    position: absolute;
    bottom: 0px;
    display: flex;
    justify-content: end;
    align-items: center;
    height: 5%;
    background-color: $black;
    .BottomNavigation__text a {
      font-size: 1em;
      color: $white;
      font-family: $roboto !important;
      letter-spacing: 2px;
    }
  }
  .TopNavigation {
    cursor: pointer;
    width: 95%;
    position: absolute;
    top: 0px;
    display: flex;
    justify-content: end;
    align-items: center;
    height: 5%;
    .TopNavigation__text div {
      font-size: 1em;
      color: $white;
      font-family: $roboto !important;
      letter-spacing: 2px;
    }
  }
  .LandingContainer__wrapper-body {
    height: 90%;
    width: 95%;
    background-color: $white;
    .link-edit {
      cursor: pointer;
      display: flex;
      background-color: $white;
      color: $primary;
      padding: 10px;
      bottom: 0;
      left: 0;
      margin: 15px;
      border-radius: 100%;
      z-index: 4;
      &:hover {
        background-color: $third;
        color: $white;
      }
    }
    .control-preview {
      cursor: pointer;
      display: flex;
      padding: 10px;
      bottom: 0;
      right: 0;
      margin: 15px;
      z-index: 4;
      &:hover {
        background-color: $third;
        color: $white;
      }
    }
    .link-preview {
      cursor: pointer;
      display: flex;
      background-color: $white;
      color: $primary;
      padding: 10px;
      bottom: 0;
      right: 0;
      margin: 15px;
      border-radius: 100%;
      z-index: 4;
      &:hover {
        background-color: $third;
        color: $white;
      }
    }
    .link-preview.active {
      background-color: $third;
      color: $white;
      display: flex;
    }
    .custom-controls {
      display: flex;
      // justify-content: center;
      // align-items: center;
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }
  height: 100%;
  background-color: $black;
  -webkit-box-shadow: 10px -3px 15px 4px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 10px -3px 15px 4px rgba(0, 0, 0, 0.1);
  box-shadow: 10px -3px 15px 4px rgba(0, 0, 0, 0.1);
}
