@import "../../globalStyles.scss";

.FloatingNav__next,
.FloatingNav__prev {
  position: absolute;
  bottom: 0;
  margin: 15px;
  cursor: pointer;
  font-size: 2em;
  font-weight: bold;
  color: $white;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  transition: 0.2s all ease-out 0s;
  &:hover {
    color: $third;
  }
}

.FloatingNav__next {
  right: 0;
}

.FloatingNav__prev {
  left: 0;
}
